<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Managment System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <h1 align="center">Baza książek Kasi i Kamila z silnikiem thymleaf</h1>
    <p th:align="center">Spring Thymleaf MySQL</p>

<div th:align="center">
    <h1>Book List</h1>
    <table th:border="5">
        <thead>
            <tr>
                <th>Tytuł książki</th>
                <th>Autor książki</th>
                <th>Isbn książki</th>
                <th>Opis książki</th>
                <th>Lokalizacja książki</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${listBooks}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.despription}"></td>
                <td th:text="${book.localization}"></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
