<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Library Managment System</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		  crossorigin="anonymous">
</head>
<body>
	<div th:align="center" class="container">
		<h1>System wprowadzania książki do bazy danych</h1>
		<hr>
		<h2>Książka</h2>
		  <form action="#" th:action="@{/saveBook}" th:object="${book}" method="POST">
             <input type="text" th:field = "*{title}"
					placeholder="Tytuł książki" class="form-control mb-4 col-4">
			  <input type="text" th:field = "*{author}"
					 placeholder="Autor książki" class="form-control mb-4 col-4">
			  <input type="text" th:field = "*{isbn}"
					 placeholder="Isbn (np: 93455432334)" class="form-control mb-4 col-4">
			  <input type="text" th:field = "*{despription}"
					 placeholder="Opis książki do 240 znaków" class="form-control mb-4 col-4">
			  <input type="text" th:field = "*{localization}"
					 placeholder="Regał nr" class="form-control mb-4 col-4">
			  <button type="submit" >Dodaj książkę</button>
<!--			  <button type="reset">Wyczyść</button>-->
<!--			  <button th:action="@{/showNewBookForm}">Wróć</button>-->
		  </form>
				<hr>
					<a th:href="@{/}"> Wróć na stronę główną</a>
	</div>
</body>
</html>